<html ng-app="boozeDataApp" lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>Whiskey Recommender</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Include jQuery for Boostrap -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

        <!-- Our custom AngularJS code -->
        <script src="{{ url_for('static', filename='listController.js') }}"></script>

        <!-- Bootstrap loaded from a CDN -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>


    <!-- Nav bar code at the top -->
    <nav id="navMenu" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationBar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Whiskey Recommender</a>
          </div>
          <div class="collapse navbar-collapse" id="navigationBar">
            <ul class="nav navbar-nav">
              <li><a href="/about">About</a></li>
            </ul>
              {% block login %}
                  {% if not user %}
                    <ul class="nav navbar-nav">
                        <li><a href="https://www.reddit.com/api/v1/authorize?client_id=hVZq4ed0FE6amw&response_type=code&state=test&redirect_uri=http://booze.ahanes.com/&duration=permanent&scope=identity">Login</a></li>
                    </ul>
                  {% endif %}
                  {% if user %}
                      <ul class="nav navbar-nav">
                          <li><a href="#">Logged in as {{ user }}</a></li>
                      </ul>
                      <ul class="nav navbar-nav">
                      <li><a href="/logout">Logout</a></li>
                  {% endif %}
              {% endblock %}
          </div>
        {% block error %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                        {{ error }}
                </div>
            {% endif %}
        {% endblock %}
        </div>
    </nav>

    <!-- Flask injects page specifics here -->
    {% block content %}
    {% endblock %}
    <!-- Footer for padding -->
    <div class="footer home_footer">
        <div class="container">
            <p class="text-muted">
              Copyright &copy; Hanes, Martin, &amp; House
            </p>
        </div>
    </div>
</html>
