/* Custom CSS file */
body {
    background-color: #fbe0bc;
}

body > .container {
    padding: 60px 15px 0;
    //color: #F5F5F5;
    //background-color: #fbead4;
}

.header {
    //background-color: #1C1C1C;
    //border-color: #F5F5F5;
    border-bottom: 2px solid;
}

.footer {
    //background-color: #1C1C1C;
    //border-color: #F5F5F5;
    border-top: 2px solid;
    padding-top: 2px;
}
