{% extends "layout.html" %}
{% block content %}
    <div class="container about_container">
        <!-- Header 1 -->
        <div class="page-header">
            <h1>Created by:</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3>Andrew Hanes</h3>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back-end developer</h4>
                <h3>Schuyler Martin</h3>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Front-end developer</h4>
                </br>
                <h3>&copy; 2015 All rights reserved</h3>
            </div>
        </div>
    </div>
{% endblock %}
