{% extends "layout.html" %}
{% block content %}
    <div class="container"   ng-controller="BoozeListCtrl">
        <!-- raw/endraw tags tell flask to ignore this section, allowing AngularJs to work -->
        {% raw %}
        <div class="page-header col-xs-12 col-md-10">
            <h1>Whiskey Recommender</h1>
            <p>Let Reddit recommend you some whiskey!</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="glyphicon glyphicon-search input-group-addon"></div>
                            <input type="text" class="form-control" ng-change="pgCur = 0" 
                                    placeholder="Search" ng-model="searchBooze.name">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- AngularJS dynamic tabling -->
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <table class="table table-hover">
                    <thead>
                        <th>+/-</th>
                        <th>#</th>
                        <th>Name</th>
                    </thead>
                    <tbody>
                        <tr ng:repeat="booze in filtered = (boozeTypes | filter:searchBooze) | startFrom:pgCur * pgSize | limitTo:pgSize">
                            <td>
                                <button class="col-md-2 text-center btn btn-danger btn-lg"
                                        ng-if="booze.expand" 
                                        ng-click="booze.expand=false"></button>
                                <button class="col-md-2 text-center btn btn-warning btn-lg"
                                        ng-if="!booze.expand" 
                                        ng-click="clickSuggest(booze)"></button>
                            </td>
                            <td>
                                <h4>
                                    <span class="label label-warning">{{booze.id}}</span>
                                </h4>
                            </td>
                            <td>
                                <div>
                                    <div class="list-group">
                                    <span class="list-group-item list-group-item-info">
                                        {{booze.name}}
                                    </span>
                                    </div>
                                    <div ng-cloak ng-if="booze.expand" ng-repeat-end="">
                                        <ul class="list-group" ng:repeat="bRec in suggest[booze.name] | orderBy:score">
                                            <li class="list-group-item list-group-item-warning">
                                                <span class="badge">{{bRec.score | number:2}}</span>
                                                {{bRec.name}}
                                            </li>
                                        </ul>
                                        <!-- Fail-over; no suggestions -->
                                        <ul ng-cloak ng-if="suggest[booze.name] === nil" class="list-group">
                                            <li class="list-group-item list-group-item-danger">
                                                No suggestions available.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pagination button control -->
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <button class="col-xs-4 col-md-4 btn btn-warning" 
                        ng-disabled="pgCur == 0" ng-click="pgCur=pgCur-1">
                    Previous
                </button>
                <p class="col-xs-4 col-md-2 text-center">
                    {{pgCur+1}}/{{pgTotal(filtered.length)}}
                </p>
                <button class="col-xs-4 col-md-4 btn btn-warning"
                       ng-disabled="pgCur >= filtered.length/pgSize - 1" 
                       ng-click="pgCur=pgCur+1">
                    Next
                </button>
            </div>
        </div>
        {% endraw %}
    </div>
{% endblock %}
