{% extends "layout.html" %}
{% block content %}
    <div class="container"   ng-controller="BoozeListCtrl">
        <!-- raw/endraw tags tell flask to ignore this section, allowing AngularJs to work -->
        {% raw %}
        <div class="page-header">
            <h1>Whiskey Recommender</h1>
            <p>Let Reddit recommend you some whiskey!</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="glyphicon glyphicon-search input-group-addon"></div>
                            <input type="text" class="form-control" ng-change="pgCur = 0" 
                                    placeholder="Search" ng-model="searchBooze.name">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- AngularJS dynamic tabling -->
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <table class="table table-hover">
                    <thead>
                        <th>&nbsp;</th>
                        <th>#</th>
                        <th>Name</th>
                    </thead>
                    <tbody>
                        <tr ng:repeat="booze in filtered = (boozeTypes | filter:searchBooze) | startFrom:pgCur * pgSize | limitTo:pgSize">
                            <td>
                                <button class="col-md-2 text-center btn btn-danger btn-lg"
                                        ng-if="booze.expand" 
                                        ng-click="booze.expand=false"></button>
                                <button class="col-md-4 text-center btn btn-warning btn-lg"
                                        ng-if="!booze.expand" 
                                        ng-click="clickSuggest(booze)"></button>
                            </td>
                            <td>
                                {{booze.id}}
                            </td>
                            <td>
                                <div>
                                    {{booze.name}}
                                    <div ng-if="booze.expand" ng-repeat-end="">
                                        <ul ng:repeat="bRec in suggest[booze.name] | orderBy:score">
                                            <li>
                                                <div class="col-md-10">
                                                    <div class="col-md-8">
                                                        {{bRec.name}}
                                                    </div>
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-2 label label-warning">
                                                        {{bRec.score | number:2}}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- Fail-over; no suggestions -->
                                        <div ng-if="suggest[booze.name] === nil" class="col-md-10">
                                            &nbsp;&nbsp;No suggestions available.
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pagination button control -->
        <div class="row">
            <div class="col-xs-12 col-md-10">
                <button class="col-xs-4 col-md-4 btn btn-warning" 
                        ng-disabled="pgCur == 0" ng-click="pgCur=pgCur-1">
                    Previous
                </button>
                <p class="col-xs-4 col-md-2 text-center">
                    {{pgCur+1}}/{{pgTotal(filtered.length)}}
                </p>
                <button class="col-xs-4 col-md-4 btn btn-warning"
                       ng-disabled="pgCur >= filtered.length/pgSize - 1" 
                       ng-click="pgCur=pgCur+1">
                    Next
                </button>
            </div>
        </div>
        {% endraw %}
    </div>
{% endblock %}
